<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.tp.hillforts">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".main.MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hillforts">
        <activity android:name=".views.search.SearchHillfortsView">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.hillfordList.HillfortListView" />
        </activity>


        <!-- Hillfort Map View -->
        <activity
            android:name=".views.hillfortMap.HillfortMapView"
            android:label="@string/title_hillfort_map_view">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.hillfordList.HillfortListView" />
        </activity>

        <!-- Activity for Splash Screen (only necessary cause load is to quick to just make a Theme change) -->
        <activity
            android:name=".views.splash.SplashScreenActitivity"
            android:theme="@style/Theme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Settings view -->
        <activity
            android:name=".views.settings.SettingsView"
            android:label="@string/title_settings_view">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.hillfordList.HillfortListView" />
        </activity>

        <!-- Edit Location view -->
        <activity
            android:name=".views.editLocation.EditLocationView"
            android:label="@string/title_edit_location_view">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.hillfortDetails.HillfortDetailsView" />
        </activity>

        <!-- Login View -->
        <activity
            android:name=".views.login.LoginView"
            android:label="@string/title_login_view"
            android:theme="@style/Theme.SplashScreen" />

        <!-- Hillford List View -->
        <activity
            android:name=".views.hillfordList.HillfortListView"
            android:label="@string/title_hillfort_list_view">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.login.LoginView" />
        </activity> <!-- Hillford Details View -->
        <activity
            android:name=".views.hillfortDetails.HillfortDetailsView"
            android:label="@string/title_hillfort_details_view">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.hillfordList.HillfortListView" />
        </activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>